<mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="width-max" color="primary">
            <mat-card-content>
                <h2>Users</h2>
                <button  mat-button>Create</button>
                <table mat-table [dataSource]="dataTable" class="mat-elevation-z8 width-max">

                    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="first_name">
                        <th mat-header-cell *matHeaderCellDef> First Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="last_name">
                        <th mat-header-cell *matHeaderCellDef> Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="phone_number">
                        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
                    </ng-container>

                    <ng-container matColumnDef="is_verified">
                        <th mat-header-cell *matHeaderCellDef> Verified </th>
                        <td mat-cell *matCellDef="let element"> {{element.is_verified}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-menu-item [routerLink]="'/user/'+element.id">Edit</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="dataName"></tr>
                    <tr mat-row *matRowDef="let row; columns: dataName;"></tr>
                </table>

            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

</mat-grid-list>