<mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="width-max" color="primary">
            <mat-card-content>
               <h2>Login</h2>
                <form  [formGroup]='LoginForm' (ngSubmit)="submit()">

                    <mat-form-field MatFormFieldControl="email" class="width-max">
                        <mat-label>Email Address</mat-label>
                        <input matInput  name="email" formControlName="email">
                      </mat-form-field>
                     
                      <mat-form-field MatFormFieldControl="password"  class="width-max">
                        <mat-label>Password</mat-label>
                        <input matInput name="password" formControlName="password" type="password">
                      </mat-form-field>
                      
                      <button mat-raised-button type="submit" color="primary">Login</button>
                </form>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

</mat-grid-list>

