<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>
            Govern Bulletin
        </span>
        <span class="flex-spacing"></span>
        <span *ngIf="!currentUser">
            <button mat-button routerLink="auth/login">Login</button>
            <button mat-button routerLink="auth/register">Register</button>
        </span>
        <span *ngIf="currentUser">
            
            <button mat-button routerLink="user/index" *ngIf="currentUser.role.code=='min'">Manage Users</button>
            <button mat-button [matMenuTriggerFor]="menu">{{currentUser.first_name}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="my-profile">Profile</button>
                <button mat-menu-item (click)="logout()">Logout</button>
              </mat-menu>
        </span>
    </mat-toolbar-row>
</mat-toolbar>