
<mat-grid-list cols="3" >
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile >

        <mat-card class="width-max" color="primary">
            <mat-card-content>
               <h2>Register</h2>
                <form  [formGroup]='RegisterForm' (ngSubmit)="submit()">
                    <mat-form-field MatFormFieldControl="first_name" class="width-max">
                        <mat-label>First Name</mat-label>
                        <input matInput name="first_name" formControlName="first_name">
                      </mat-form-field>
                      <mat-form-field MatFormFieldControl="last_name" class="width-max">
                        <mat-label>Last Name</mat-label>
                        <input matInput name="last_name" formControlName="last_name">
                      </mat-form-field>
                    <mat-form-field MatFormFieldControl="email" class="width-max">
                        <mat-label>Email Address</mat-label>
                        <input matInput name="email" formControlName="email">
                      </mat-form-field>
                      <mat-form-field MatFormFieldControl="phone_number" class="width-max">
                        <mat-label>Phone Number</mat-label>
                        <input matInput name="phone_number" formControlName="phone_number">
                      </mat-form-field>
                      <mat-form-field MatFormFieldControl="password" class="width-max">
                        <mat-label>Password</mat-label>
                        <input matInput name="password" formControlName="password">
                      </mat-form-field>
                      <mat-form-field MatFormFieldControl="confirm_password" class="width-max">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput name="confirm_password" formControlName="confirm_password">
                      </mat-form-field>

                      <button mat-raised-button type="submit" color="primary">Register</button>
                </form>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>

</mat-grid-list>