<mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>

        <mat-card class="width-max" color="primary">
            <mat-card-content>
               <h2>User</h2>
                <form  [formGroup]='userForm' (ngSubmit)="submit()" *ngIf="this.userForm">

                    <mat-form-field MatFormFieldControl="email" class="width-max">
                        <mat-label>Email Address</mat-label>
                        <input matInput  name="email" formControlName="email" disabled>
                      </mat-form-field>
                      <mat-form-field MatFormFieldControl="first_name"  class="width-max">
                        <mat-label>First Name</mat-label>
                        <input matInput name="first_name" formControlName="first_name">
                      </mat-form-field>
                      <mat-form-field MatFormFieldControl="last_name"  class="width-max">
                        <mat-label>Last Name</mat-label>
                        <input matInput name="last_name" formControlName="last_name">
                      </mat-form-field>
                      <mat-form-field MatFormFieldControl="phone_number"  class="width-max">
                        <mat-label>Phone Number</mat-label>
                        <input matInput name="phone_number" formControlName="phone_number">
                      </mat-form-field>
                     
                        <mat-checkbox name="is_verified" formControlName="is_verified">Is Verified</mat-checkbox>
                        <mat-form-field  MatFormFieldControl="role"  class="width-max" >
                          <mat-label>Roles</mat-label>
                          <mat-select name="role" formControlName="role">
                            <mat-option *ngFor="let role of roles" [value]="role._id">
                              {{role.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                     
                      <button mat-raised-button type="submit" color="primary">Edit</button>
                </form>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

</mat-grid-list>

