<form  [formGroup]='OTPForm' (ngSubmit)="otpSubmit()">
    <h2 mat-dialog-title>
        OTP ( One Time Pin )
    </h2>
    <mat-dialog-content>
        <form [formGroup]="OTPForm" (ngSubmit)="otpSubmit">

        </form>
              <mat-form-field MatFormFieldControl="otp" class="width-max">
                <mat-label>OTP</mat-label>
                <input matInput name="otp" formControlName="otp">
              </mat-form-field>
    
        
    </mat-dialog-content>
    <mat-dialog-actions>
    
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="primary">Cancel</button>
    </mat-dialog-actions>
    </form>